.idea
.mvn
certificate
keys
logs
storage
target
src/resources/application.properties
src/resources/application.yaml
src/resources/application-dev.properties
src/resources/application-prod.properties
myenv.env