<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Update template</title>
</head>
<body>
<div th:replace="common/base :: headerFragment"></div>
<br>
<div class="container mt-5">
    <h2 class="mb-3">Update Template</h2>
    <hr>
    <div id="result" class="mt-3"></div>
    <br>
    <input type="hidden" id="id" name="id" th:value="${id}">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm6">Nome</span>
        <input type="text" id="name" class="form-control" name="name" th:value="${template.getName()}" placeholder="Nome template" aria-label="Small" aria-describedby="inputGroup-sizing-sm6">
        <span class="input-group-text" id="inputGroup-sizing-sm1">Version</span>
        <input type="text" id="version" class="form-control" placeholder="Version" th:value="${template.getVersion()}" name="version" aria-label="Small" aria-describedby="inputGroup-sizing-sm1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm4">Html</span>
        <textarea id="html" th:utext="${template.getHtml()}" class="form-control" name="html" aria-label="Small" rows="10" cols="18" aria-describedby="inputGroup-sizing-sm4"></textarea>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm2">Variables Json</span>
        <input type="text" id="variablesJson" th:value="${template.getVariablesJson().trim()}" class="form-control mr-5" placeholder="Variables Json" name="variablesJson" aria-label="Small" aria-describedby="inputGroup-sizing-sm2">
        <div class="form-check">
            <label class="form-check-label" for="active">
                Active
            </label>
            <input class="form-check-input sm-4" type="checkbox" id="active" name="active" th:checked="${template.isActive()}">
        </div>
    </div>
    <div class="input-group mb-3">
        <button class="btn btn-outline-primary" onclick="updateTemplate()">Update</button>
    </div>
</div>
<script>
    async function updateTemplate() {

        const API_BASE = "http://localhost:8080/api/admin/templates";

        const name = document.getElementById("name").value.trim();
        const id = document.getElementById("id").value.trim();
        const version = document.getElementById("version").value.trim();
        const html = document.getElementById("html").value.trim();
        const variablesJson = document.getElementById("variablesJson").value.trim();
        const active = document.getElementById("active").checked;
        const response = await fetch(`${API_BASE}/${id}/edit`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                id: id,
                name: name,
                version: version,
                html: html,
                variablesJson: variablesJson,
                active: active
            })
        });
        const resultDiv = document.getElementById("result");
        const data = await response.json();
        if(!response.ok)
        {
            // Esempio: mostra il primo errore per campo
            const errors = data.errors || {};
            alert(Object.entries(errors).map(([field, msgs]) => `${field}: ${msgs[0]}`).join("\n"));
            return;
        }
        else
        {
            resultDiv.innerHTML = `
                <div class="alert alert-success">
                    ✅ <b>Template aggiornato con successo</b><br>
                    <b>ID:</b> ${data.id}<br>
                    <b>Nome:</b> ${data.name}<br>
                    <b>Versione:</b> ${data.version}<br>
                    <b>Attivo:</b> ${data.active}<br>
                    <b>Nome tenant:</b> ${data.tenant}<br>
                </div>
            `;
        }
    }
</script>
</body>
<div th:replace="common/footer :: footerFragment"></div>
<!-- qui potresti caricare i file JS di Bootstrap, se serve -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</html>