<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<div th:replace="common/base :: headerFragment"></div>
<br>
<div class="container mt-5">
    <div class="row">
        <div class=" alert alert-success col-md-12" style="text-align: center;" role="alert">
            Registrazione avvenuta con successo
        </div>
    </div>
    <br>
    <h2 class="mb-3">Signup</h2>
    <div class="input-group mb-3">
            <label for="username" class="input-group-text" id="inputGroup-sizing-sm">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" name="username" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <label for="password" class="input-group-text" id="inputGroup-sizing-sm3">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="password" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <label for="tenant" class="input-group-text" id="inputGroup-sizing-sm2">Nome tenant</label>
            <input type="text" class="form-control" placeholder="Nome tenant" id="tenant" name="nometenant" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group mb-3">
        <label for="email" class="input-group-text" id="inputGroup-sizing-sm4">Email</label>
        <input type="email" id="email" class="form-control"  placeholder="Email" name="email" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <br>
        <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
        <br>
        <button type="button" onclick="signup()" class="btn btn-outline-primary form-control">Signup</button>
    </div>
    <br>
    <hr>
    <pre id="result"></pre>
</div>
<script>
    async function signup() {

        const API_BASE = "http://localhost:8080";
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const tenant = document.getElementById("tenant").value;
        const email = document.getElementById("email").value;

        const response = await fetch(`${API_BASE}/signup`,{
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: username,
                password: password,
                email: email,
                tenantName: tenant
            })
        });
        const resultDiv = document.getElementById("result")
        const data = await response.json();
        if(!response.ok)
        {
            // Esempio: mostra il primo errore per campo
            const errors = data.errors || {};
            alert(Object.entries(errors).map(([field, msgs]) => `${field}: ${msgs[0]}`).join("\n"));
            return;
        }
        else if (response.ok === true)
        {
            resultDiv.innerHTML = `
                <div class="alert alert-success">
                    ✅ <b>Registrazione avvenuta con successo</b><br>
                    <b>ID tenant:</b> ${data.id}<br>
                    <b>Nome tenant:</b> ${data.name}<br>
                    <b>Status</b> ${data.status}<br>
                    <b>Username:</b> ${data.username}<br>
                    <b>Email:</b> ${data.email}<br>
                    <b>Ruolo:</b> ${data.role}<br>

                </div>
            `;
        }
        else {
            resultDiv.innerHTML = `<div class="alert alert-danger">❌ Si è verificato un errore</div>`;
        }
    }
</script>
</body>
<div th:insert="common/footer :: footerFragment"></div>
</html>
